---
import Navigation from '../components/Navigation.astro'
import Footer from '../components/Footer.astro'

const pageTitle = 'about'

const me = {
	firstName: 'ryan',
	country: 'US',
	occupation: 'student',
	hobbies: ['software dev','bodybuilding','writing','gaming']
}

const skills = ['html','css','js','astro']

const happy = true;
const finished = false;
const goal = 3;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Navigation/>
		<main class="h-screen p-5">
			<h1>{pageTitle}</h1>
			<section>
				<p>my name is {me.firstName}</p>
				<p>{me.country} based, currently a {me.occupation}</p>
				{me.hobbies.length >= 2 &&
					<p>i mess with {me.hobbies[0]} and {me.hobbies[1]} in my free time</p>
				}
				<p>proficient in a few things, namely:</p>
				<ul>
					{skills.map(skill => <li>{skill}</li>)}
				</ul>
			</section>
			<section>
				{happy && <p>I am happy to be learning Astro!</p>}
				{finished && <p>I finished this tutorial!</p>}
				{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
			</section>
		</main>
		<Footer/>
	</body>
</html>
